.color-section{
    min-height:100vh ;
    background-color: #f7ecde
    
}
.font-text{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #352e28;
    position: relative!important;
}
.line{
    width: 100%;
    border-bottom: 1px dashed black;
}
